<section id="warehouses">
  <h2><%= Warehouse.model_name.human %></h2>
  <div>
  <%= link_to 'Cadastrar Galpão', new_warehouse_path %>
  </div>

  <% if @warehouses.any? %>
    <div>
      <% @warehouses.each do |w| %>
        <h3><%= link_to w.name, warehouse_path(w) %></h3>
        <dl>
          <dt><%= Warehouse.human_attribute_name(:code) %>: </dt><dd><%= w.code %></dd>
          <dt><%= Warehouse.human_attribute_name(:city) %>: </dt><dd><%= w.city %></dd>
          <dt><%= Warehouse.human_attribute_name(:area) %>: </dt><dd><%= "#{w.area} m²" %></dd>
        </dl>
      <% end %>
    </div>
  <% else %>
    <p>Não existem galpões cadastrados</p>
  <% end %>
</section>