<h2>Resultados da Busca por <%= @code %> </h2>
<% if @orders.count == 0 %>
  <p><%= t(:none).capitalize %> <%= Order.model_name.human.downcase %> <%= t(:found, count: 1) %> </p>
<% else %>
  <p><%= @orders.count %> <%= Order.model_name.human(count: @orders.count).downcase %> <%= t(:found, count: @orders.count) %> </p>
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
<% end %>