<h2>Novo item do pedido <%= @order.code %> </h2>

<% if @order_item.errors.any? %>
  <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: [@order, @order_item]) do |f| %>
  <div>
    <%= f.label :product_model_id %>
    <%= f.collection_select :product_model_id, @products, :id, :name %>
  </div>
  <div>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <%= f.submit 'Gravar' %>
<% end %>