<h2><%= "#{Supplier.model_name.human} #{@supplier.brand_name}" %></h2>
<h3><%= @supplier.corporate_name %></h3>

<dl>
  <dt>Documento:</dt>
  <dd><%= @supplier.registration_number %></dd>
  <dt>Endereço:</dt>
  <dd><%= @supplier.full_address %> - <%= @supplier.city %> - <%= @supplier.state %></dd>
  <dt><%= Supplier.human_attribute_name(:email)%>: </dt>
  <dd><%= @supplier.email %></dd>
</dl>

<div>
  <%= link_to 'Editar', edit_supplier_path(@supplier) %>
</div>

<% if @product_models.any? %>
  <h3>Modelos de produtos cadastrados:</h3>
  <ul>
    <% @product_models.each do |m| %>
      <p><b><%= m.name %></b></p>
      <li><%= "#{ProductModel.human_attribute_name(:sku)}: #{m.sku}" %></li>
      <li>Dimensões: <%= "#{m.height}cm x #{m.width}cm x #{m.depth}cm" %></li>
      <li><%= "#{ProductModel.human_attribute_name(:weight)}: #{m.weight}g" %></li>
    <% end %>
  </ul>
<% else %> 
  <h3>Nenhum modelo de produto cadastrado para este fornecedor</h3>
<% end %>