<h2><%= "#{Warehouse.model_name.human} #{@warehouse.code}" %></h2>
<h3><%= @warehouse.description %></h3>
<div>
  <p><strong><%= Warehouse.human_attribute_name(:name) %>: </strong><%= @warehouse.name %></p>
  <p><strong><%= Warehouse.human_attribute_name(:city) %>: </strong><%= @warehouse.city %></p>
  <p><strong><%= Warehouse.human_attribute_name(:area) %>: </strong><%= "#{@warehouse.area} m²" %></p>
  <p><strong><%= Warehouse.human_attribute_name(:address) %>: </strong><%= @warehouse.address %> <strong><%= Warehouse.human_attribute_name(:zip_code) %>:</strong> <%= @warehouse.zip_code %></p>
</div>

<div>
  <%= link_to 'Editar', edit_warehouse_path(@warehouse) %>
  <%= button_to 'Remover', warehouse_path(@warehouse), method: :delete %>
</div>

<div>
  <h3>Itens em Estoque</h3>
  <% @stocks.each_pair do |product_model, quantity| %>
    <%= quantity %> x <%= product_model.sku %> <br>
  <% end %>
</div>

<div>
  <h3>Saída de Estoque</h3>
  <%= form_with(url: warehouse_stock_product_destinations_path(@warehouse)) do |f| %>
    <div>
      <%= f.label :product_model_id, 'Item para saída' %>
      <%= f.collection_select :product_model_id, @product_models, :id, :sku %>
    </div>    
    <div>
      <%= f.label :recipient, 'Destinatário' %>
      <%= f.text_field :recipient %>
    </div>    
    <div>
      <%= f.label :address, 'Endereço Destino' %>
      <%= f.text_field :address %>
    </div>    

    <%= f.submit 'Confirmar Retirada' %>
  <% end %>
</div>


